nav{
    height: 80px;
    background:#212529!important;
    font-family: 'Patrick Hand', cursive; 
    font-size: 1.2em;
    position: absolute;
    top: 10px;
}

.navbar-text{
    color: white;
}

#navbarSupportedContent ul li {
    padding : 0px 20px;
    margin-bottom: 2px;
    outline: none;
}

#navbarSupportedContent ul li a {
    text-decoration : none;
    color: #E5E5E5;
    transition: all 0.2s ease-in-out ;
}

#navbarSupportedContent ul li :hover {
    /* border: 3px solid #ffb26b; */
    box-shadow: 1px 0px 5px #ffb26b ;
    outline: none;
    border-radius: 10px;
    color: #ffb26b;
}

.dropdown-menu{
    background:#212529!important;
}

